body {
    margin: 0;
    padding: 270px 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    line-height: 1;
}
img {
    max-width: 100%;
    height: auto;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    height: 100%;
    padding: 0 145px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 175px 72px 190px;
    position: relative;
    flex: 1;
    border: solid 4px;
    transition: color .3s;
    color: black;
    font-size: 20px;

    &:hover {
        color: #65856E;
    }

    h2 {
        margin: 0 0 4px;
        color: black;
        font-weight: normal;
        font-size: 40px;
    }
    p {
        color: black;
        line-height: 1.2;
        margin: 0;
    }

    .card-img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid;
        background-color: #fff;
        border-radius: 100px;


        img {
            width: 60px;
        }
    }
}
