:root {
    --page-width: 1170px;

    --color-text: #8E88C1;

    --color-blue: #24204A;
    --color-blue-dark: #071341;
    --color-blue-light: #827EAC;
    --color-blue-label: #4B4864;
    /*--color-blue-button: #3F50E7;*/
    --color-blue-button: 63, 80, 231;

    --shadow-light: rgba(255, 255, 255, .2);
    --shadow-dark: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.05em;
    font-weight: 500;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--color-text);
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 36px;
}

.icons {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.wrap {
    width: var(--page-width);
    margin: 0 auto;
    display: flex;
}

header {
    padding: 36px 0;
    position: sticky;
    top: 0;
    background-color: var(--color-blue);
    z-index: 5;
    box-shadow: 0 4px 4px var(--shadow-dark);

    .wrap {
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        opacity: 0.6;
        font-size: 20px;
        text-transform: uppercase;
    }

    nav {
        display: flex;
        justify-content: space-around;
        gap: 40px;

        a {
            padding: 10px 12px;
            opacity: 0.6;
            transition: opacity .2s, transform .2s;

            &:hover {
                transform: translateY(-1px);
                opacity: 1;
            }
        }
    }
}

.promo {
    background-color: var(--color-blue);

    .wrap {
        position: relative;
    }

    .promo-picture {
        position: absolute;
        right: 0;
        top: 67px;
        padding: 48px 28px;
        box-shadow: 0 4px 50px var(--shadow-dark);
        background-color: var(--color-blue-light);
        width: 375px;
        border-radius: 8px;
    }

    .promo-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 85px 0 128px;
        gap: 32px 0;
    }

    .label {
        padding: 10px 16px;
        background-color: var(--color-blue-label);
        border-radius: 8px;
    }

    h2 {
        max-width: 260px;
    }

    p {
        max-width: 570px;
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 56px;
        border-radius: 8px;
        background-color: rgba(var(--color-blue-button), 1);
        box-shadow: 0 6px 20px var(--shadow-light);
        text-transform: uppercase;
        transform-origin: center;
        transition: background-color .2s, transform .2s;

        &:hover {
            background-color: rgba(var(--color-blue-button), .8);
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

.feature {
    padding: 62px 0 152px;
    background-color: var(--color-blue-dark);

    .wrap {
        flex-direction: column;
        gap: 50px;
    }

    h2, p {
        text-align: center;
    }

    h2 {
        max-width: 1070px;
        margin: 0 auto;
    }

    .feature-list {
        display: flex;
        align-items: center;
        gap: 73px;
        width: 100%;

        dl {
            display: flex;
            align-items: center;
            gap: 18px;
            flex: 1;
        }

        dd {
            text-transform: uppercase;
        }

        dt {
            width: 56px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            width: 32px;
            height: 32px;
        }

        .bg-1 {
            background-color: #FF6853;
        }
        .bg-2 {
            background-color: #FF537C;
        }
        .bg-3 {
            background-color: #80D2C4;
        }
        .bg-4 {
            background-color: #3F50E7;
        }
        .bg-5 {
            background-color: #95CB7C;
        }
    }

    .feature-gallery {
        display: flex;
        gap: 32px;
        justify-content: center;
        color: var(--color-text);

        figure {
            display: flex;
            flex-direction: column;
            gap: 26px;
            align-items: center;
            border: 2px solid;
            border-radius: 8px;
            padding: 40px 16px 28px;
            flex: 1;
            transition: color .2s, transform .2s;

            &:hover {
                transform: translateY(-2px);
                color: white;
            }
        }

        figcaption {
            text-align: center;
        }

        svg {
            width: 52px;
            height: 52px;
        }
    }

}

.map {
    height: 664px;
}

footer {
    background-color: var(--color-blue-dark);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;
}






